<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>622314735982-3aglp2s6gnhhbjb7r93emo5bsv5a8fv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622314735982-3aglp2s6gnhhbjb7r93emo5bsv5a8fv1</string>
	<key>API_KEY</key>
	<string>AIzaSyDE1DLOHNiSZAihbZr14t-osPXjIskRobk</string>
	<key>GCM_SENDER_ID</key>
	<string>622314735982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitnessApp</string>
	<key>PROJECT_ID</key>
	<string>fitness-app-39f28</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-app-39f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622314735982:ios:76d13d76ce6af8747cd97f</string>
</dict>
</plist>